*~
*.swp
Makefile
gz
.project
doc/*.mk
doc/*.dirs

tmp
src

qemu386micro
qemu386micro.cross
qemu386clock
qemu386clock.cross

x86clock
x86clock.cross

pc686desk
pc686desk.cross
pc686math
pc686math.cross

etc/README-SDL.txt

rpimicro
rpimicro.cross
rpiclock
rpiclock.cross

serial.log

eabiclock
eabiclock.cross

arm9clock
arm9clock.cross

dot.dot
doc/crox.pdf
patch/python

x86math
x86math.cross

/azlin.log
