*~
*.swp
gz
.project
doc/*.mk
doc/*.dirs

boot/syslinux/*.c32
boot/syslinux/syslinux*.zip
boot/syslinux/syslinux.exe

tmp
src

*clock/
*clock.cross/

etc/README-SDL.txt

serial.log

dot.dot
doc/crox.pdf
patch/python

ttyS0.log

