#!/bin/sh
cat \
	mk/head.mk \
	mk/dirs.mk \
	mk/versions.mk \
	mk/packages.mk \
	mk/commands.mk \
	mk/clean.mk \
	mk/gz.mk \
	mk/src.mk \
	mk/cfg.mk \
	mk/cross.mk \
	mk/core.mk \
	mk/kernel.mk \
	mk/ulibc.mk \
	mk/busybox.mk \
	mk/libs.mk \
	mk/apps.mk \
	mk/user.mk \
	mk/emu.mk \
	mk/root.mk \
	mk/boot.mk \
> Makefile
