#!/bin/sh
cat \
	mk/head.mk \
	mk/dirs.mk \
	mk/versions.mk \
	mk/packages.mk \
	mk/commands.mk \
	mk/clean.mk \
	mk/gz.mk \
	mk/src.mk \
	mk/cfg.mk \
	mk/cross.mk \
	mk/core.mk \
	mk/emu.mk \
> Makefile
