#!/bin/sh

case "$1" in
	deconfig)
		echo DHCP: $interface deconfig
		ifconfig $interface 0.0.0.0
	;;


renew|bound)

NETMASK=""
[ -n "$subnet" ] && NETMASK="netmask $subnet"
BROADCAST=""
[ -n "$broadcast" ] && BROADCAST="broadcast $broadcast"

echo DHCP: $interface $ip
ifconfig $interface $ip $NETMASK $BROADCAST
ifconfig $interface

echo DHCP: dns $dns
echo -n > /etc/resolv.conf

for i in $dns ; do
	echo nameserver $i >> /etc/resolv.conf
done

echo DHCP: route default gw $router
route add default gw $router dev $interface
route

;;

esac

