#!/bin/sh

RESOLV="/etc/resolv.conf"

NETMASK=""
[ -n "$subnet" ] && NETMASK="netmask $subnet"
BROADCAST=""
[ -n "$broadcast" ] && BROADCAST="broadcast $broadcast"

case "$1" in
	deconfig)
		killall ntpd
		ifconfig $interface 0.0.0.0
	;;
	renew|bound)
		# interface address
		ifconfig $interface $ip $NETMASK $BROADCAST
		ifconfig $interface
		# dns resolving 
		echo -n > $RESOLV
		for i in $dns ; do
			echo nameserver $i >> $RESOLV
		done
		cat $RESOLV
		# routing
		route add default gw $router dev $interface
		route
		# start ntp daemon
		ntpd -p pool.ntp.org
	;;
esac
