#!/bin/sh
#wget http://api.openweathermap.org/data/2.5/forecast?q=Samara,RU

wget -O /tmp/weather.png http://www.meteonova.ru/informer/PNG102_28900_CCFFFF_000066_000050_000000_000000_000066_000099.PNG

