#UI menu.c32
UI vesamenu.c32
MENU RESOLUTION 640 480
MENU TITLE ALYEH: CarPC Linux
MENU BACKGROUND /x86linuxola/splash640x480.png

DEFAULT x86linuxola

LABEL x86linuxola
MENU LABEL CarPC Linux (linuxola)
KERNEL /x86linuxola/x86linuxola.kernel
INITRD /x86linuxola/x86linuxola.rootfs
APPEND vga=ask

LABEL memtest
MENU LABEL memtest86+
KERNEL /syslinux/memtest.krn

